<form method="post" action="/register">

  <label for="name">Username</label>
  <input type="text" name="name" id="name"/>
  <label for="email">Email</label>
  <input type="email" name="email" id="email"/>
  <input type="submit" value="Submit">

</form>